<html>
<head>
    <title>ToDo</title>
    <style type="text/css">
        .tasks {
            border-collapse: collapse;
            border: 3px solid #245488;
        }

        td, th {
            padding: 10px 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td>
    <form action="/show" method="POST">
        <input type="submit" value="Показать все">
    </form>
        </td>
        <td>
    <form action="/add">
        <input type="submit" value="Добавить новое задание">
    </form>
        </td>
        <td>
    <form action="/sort">
        <input type="submit" value="сортировать по:">
        <select name="sort">
            <option>дедлайну</option>
            <option>дате создания</option>
            <option>дате выполнения</option>
        </select>
    </form>
        </td>
        <td>
    <form action="/today">
        <input type="submit" value="Сегодня">
    </form>
        </td>
    </tr>
</table>
    {{if .}}
    <h1>TASKS:</h1>
    <table class="tasks">
        <tr class="tasks">
            <td class="tasks">ID</td>
            <td class="tasks">Название</td>
            <td class="tasks">Комментарий</td>
            <td class="tasks">Дата создания</td>
            <td class="tasks">Дедлайн</td>
            <td class="tasks">Заплалнировано на</td>
            <td class="tasks">Изменить</td>
            <td class="tasks">Удалить</td>
        </tr>
        {{range .}}
            <tr class="tasks">
                <td class="tasks">{{.ID}}</td>
                <td class="tasks">{{.Name}}</td>
                <td class="tasks">{{.Comment}}</td>
                <td class="tasks">{{.CreateDate}}</td>
                <td class="tasks">{{.Deadline}}</td>
                <td class="tasks">{{.AppointmentDate}}</td>
                <td class="tasks"><a href="/update/?id={{.ID}}" class="button">Изменить</a></td>
                <td class="tasks"><a href="/delete/?id={{.ID}}" class="button">Удалить</a></td>
            </tr>
        {{end}}
    </table>
    {{else}}
        <h3>no data</h3>
    {{end}}
</body>
</html>