<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>ИЗМЕНИТЬ ЗАДАНИЕ</h1>
<form action="/update_result/?id={{.ID}}" method="POST">
  <label for="name">Название:</label><br>
  <input type="text" id="name" name="name" value="{{.Name}}"><br><br>
  <label for="comment">Комментарий:</label><br>
  <textarea id="comment" name="comment" rows="4" cols="30" value="{{.Comment}}"></textarea><br><br>
  <label for="deadline">Дедлайн:</label><br>
  <input type="date" id="deadline" name="deadline" value="{{.Deadline}}"><br><br>
  <label for="appointmentDate">Запланировано на:</label><br>
  <input type="date" id="appointmentDate" name="appointmentDate" value="{{.AppointmentDate}}"><br><br>
  <input type="submit" value="Обновить">
</form>

<br>
<a href="/show" class="button">К списку</a>
</body>
</html>